/*----------------
    RESET
----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*----------------
    COMMON
----------------*/
/* Containers */
.container-big {
    max-width: 1180px;
    margin: auto;
}
.container-small {
    max-width: 1000px;
    margin: auto;
}
/* Flex items */
.row {
    display: flex;
}
.col-big {
    width: 60%;
}
.col-big img {
    width: 100%;
}
.col-small {
    width: 30%;
}
.col-small img {
    width: 100%;
}
/* Buttons */
button {
    vertical-align: middle;
}
.btn {
    padding: 8px 16px;
    font-size: 16px;
}
.blue-btn {
    background-color: #0061ff;
    border: none;
    color: white;
}
/* Icone Fontawesome */
i {
    margin-right: 6px;
    vertical-align: middle;
}
/* Liste */
ul {
    list-style: none;
}

a {
    color: #0061ff;
}
/*----------------
    HEADER
----------------*/
header {
    padding: 40px;
}
nav {
    position: fixed;
    z-index: 69;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: white;
}
.logo-small {
    vertical-align: middle;
}
nav div {
    margin: 0 20px;
}
nav div > *:not(:last-child) {
    margin-right: 35px;
}
nav div a {
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
}
/*----------------
    MAIN
----------------*/
/* Hero section */
.hero {
    background-color: #b4d0e7;
}
.hero .col-big {
    width: 70%;
}
.hero h1 {
    font-size: 75px;
    font-weight: 800;
    padding: 80px 0 55px;
}
.hero .col-small button {
    margin: 30px 0;
}
.hero .col-small i {
    position: relative;
    font-size: 50px;
    top: 50px;
}
/* Business plan section */
section.business-plan {
    padding: 50px 0;
}
.business-plan h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.radio-btns div{
    display: inline-block;
    margin: 40px 40px 40px 0;
}
/* Tabella business plan */
.business-plan div.row {
    justify-content: space-between;
}
.business-plan div.col-small {
    border: 1px solid lightgray;
}

.table-header {
    width: 100%;
    text-align: center;
    padding: 7px 0;
    border-bottom: 1px solid lightgray;
}
/* Table-specs */
.table-specs, .table-checkmarks {
    padding: 30px;
    font-size: 14px;
}
.table-specs h3 {
    font-size: 24px;
    padding-bottom: 10px;
}
.table-specs small {
    display: block;
    font-size: 14px;
    padding: 5px 0;
}
.bold-span {
    font-weight: bold;
}
.grey {
    color: gray;
}
.table-specs ul, .table-checkmarks ul {
    padding: 20px 0;
}
.table-specs li, .table-checkmarks li {
    display: flex;
    margin: 15px 0;
    vertical-align: middle;
}
.table-specs i, .table-checkmarks i {
    position: relative;
    top: 3px;
}
.table-specs button {
    width: 100%;
    font-size: inherit;
}
.buy-now{
    display: inline-block;
    padding: 30px 0;
}
.table-specs hr {
    width: 25%;
    border: 0.2px 0 0 solid lightgray;
}
/* Table-Checkmarks */
.table-checkmarks i {
    color: #0061ff;
}
/*----------------
    FOOTER
----------------*/
/*----------------
    TYPO
----------------*/
body {
    font-family: 'Open Sans', sans-serif;
}
button {
    font-family: 'Open Sans', sans-serif;
}