/*----------------
    RESET
----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*----------------
    COMMON
----------------*/
section {
    padding: 50px 0;
}
hr {
    width: 25%;
    border: 0.2px 0 0 solid lightgray;
}
/* Containers */
.container-big {
    max-width: 1180px;
    margin: auto;
}
.container-small {
    max-width: 1000px;
    margin: auto;
}
/* Flex items */
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-big {
    width: 60%;
}
.col-big img {
    width: 100%;
}
.col-small {
    width: 30%;
}
.col-small img {
    width: 100%;
}
/* Buttons */
button {
    vertical-align: middle;
    cursor: pointer;
    border: none;
    padding: 10px 16px;
    font-size: 16px;
}
.blue-btn {
    background-color: #0061ff;
    color: white;
}
.white-btn {
    background-color: white;
}
/* Icone Fontawesome */
i {
    margin-right: 6px;
    vertical-align: middle;
}
/* Liste */
ul {
    list-style: none;
}

a {
    color: #0061ff;
}
/*----------------
    HEADER
----------------*/
header {
    padding: 40px;
}
nav {
    position: fixed;
    z-index: 69;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: white;
}
.logo-small {
    vertical-align: middle;
}
nav ul {
    margin: 0 20px;
    align-items: center;
}
nav ul li:not(:last-child) {
    margin-right: 35px;
}
nav button {
    margin-left: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}
nav a {
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
}
/*----------------
    MAIN
----------------*/
/* Hero section */
.hero {
    background-color: #b4d0e7;
}
.hero .col-big {
    width: 70%;
}
.hero h1 {
    font-size: 75px;
    font-weight: 800;
    padding: 30px 0 55px;
}
.hero .col-small button {
    margin: 30px 0;
}
.hero .col-small i {
    position: relative;
    font-size: 50px;
    top: 60px;
}
.hero .col-big {
    margin-bottom: -130px;
}
/* Business plan section */
section.business-plan {
    padding-top: 170px;
}
.radio-btns div{
    display: inline-block;
    margin: 40px 40px 40px 0;
}
/* Tabella business plan */
.business-plan div.card {
    border: 1px solid lightgray;
    flex-wrap: nowrap;
}
.table-header {
    width: 100%;
    text-align: center;
    padding: 7px 0;
    border-bottom: 1px solid lightgray;
}
/* Table-specs */
.table-specs, .table-checkmarks, .enterprise div.row {
    padding: 30px;
    font-size: 14px;
}
.table-specs small {
    display: block;
    font-size: 14px;
    padding: 5px 0;
}
.bold-span {
    font-weight: bold;
}
.gray {
    color: gray;
}
.table-specs ul, .table-checkmarks ul {
    padding: 20px 0;
}
.table-specs li, .table-checkmarks li {
    display: flex;
    margin: 15px 0;
    vertical-align: middle;
}
.table-specs i, .table-checkmarks i {
    position: relative;
    top: 3px;
}
.card button {
    width: 100%;
    font-size: inherit;
}
.buy-now{
    display: inline-block;
    padding: 30px 0;
}
/* Div Enterprise */
div.enterprise {
    margin: 50px 0;
}
div.enterprise div.col-small {
    padding-left: 45px;
}
div.enterprise p{
    padding-top: 50px;
}
/* Table-Checkmarks */
.table-checkmarks i {
    color: #0061ff;
}
/* Find-Partner Section */
.find-partner div.col-small {
    width: 35%;
    position: relative;
    top: 50px;
}
.find-partner button {
    border: 1px solid black;
    margin-top: 30px;
}
/* Perks Section */
.perks h2 {
    padding: 50px 0 20px;
}
.perks p {
    margin-top: 30px;
}
.perks div.col-small {
    margin: 30px 0;
}
/* Clients Section */
section.clients {
    padding-bottom: 0;
}
.clients h2 {
    margin: 50px 0;
}
.big-ass {
    width: 100vw;
    height: calc(100vw / 3);
    margin-top: 100px;
}
.one-of-three {
    width: calc(100% / 3);
    height: 100%;
}
.one-of-two {
    width: calc(100% / 2);
    height: calc(100% /2);
}
.one-of-two img, .mid-col img {
    width: 50%;
}
.one-of-two img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(97%) sepia(0%) saturate(1%) hue-rotate(302deg) brightness(109%) contrast(101%);
}
.mid-col {
    padding: 50px;
    background-color: #f5f5f5;
    overflow-y: auto;
}
.mid-col hr {
    margin: 50px 0;
}
.mid-col p {
    margin-bottom: 50px;
}
/* Clients Colors */
.first-comp {
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}
.second-comp {
    background-color: #61082b;
}
.third-comp {
    background-color: #0093ce;
}
.fourth-comp {
    background-color: #ff1c1c;
}
.fifth-comp {
    background-color: #d5001f;
}
.sixth-comp {
    background-color: #b4d0e7;
}
.seventh-comp {
    background-color: #0d2481;
}
.eighth-comp {
    background-color: #ffd830;
}
/* Free-trial Section */
section.free-trial {
    margin: 0;
    padding: 136px 0;
    background-color: #b4d0e7;
}
.free-trial div.col-big {
    width: 50%;
}
.free-trial h2 {
    color: #61082b;
}
.free-trial button {
    width: 100%;
    position: relative;
    top: 10px;
}
/* Faqs Section */
section.faqs {
    margin: 80px 0;
}
.faqs h2 {
    margin-bottom: 50px;
}
.faqs-col {
    width: 90%;
}
.faqs-symbol {
    width: 10%;
    font-size: 12px;
    text-align: center;
}
.faqs-col, .faqs-symbol {
    padding: 30px 0;
    border-top: 1px solid black;
}
.last {
    border-bottom: 1px solid black;
}
/*----------------
    FOOTER
----------------*/
footer {
    background-color: black;
    color: white;
    padding: 70px 0 50px;
}
.five-cols {
    width: 15%;
}
footer a {
    text-decoration: none;
    color: inherit;
}
footer li {
    padding: 8px 0;
}
footer h3 {
    padding: 30px 0 20px;
}
footer hr {
    width: 10%;
    margin: 80px 0 50px;
    border: 1px 0 0;
}
footer span {
    vertical-align: middle;
    margin-right: 5px;
}
/*----------------
    TYPO
----------------*/
body {
    font-family: 'Open Sans', sans-serif;
}
button {
    font-family: 'Open Sans', sans-serif;
}
h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
h3 {
    font-size: 24px;
    padding-bottom: 10px;
}